@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {

  /* Primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  background-color: var(--Magnolia);
}

.container {
  width: 70%;
  margin: 2rem auto;
  background-color: var(--White);
  height: fit-content;
  padding: 1rem;
  border-radius: 10px;
}

main {
  min-height: 80vh;
  height: 100%;
  /* border:1px solid red; */
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  /* flex:1 0 40%; */
  flex-basis: 30%;
  padding: 1.5rem;
  gap: 1rem;
  border-radius: 10px;
  /* border: 1px solid rgb(101, 235, 13); */
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

aside .sidebar-section {
  display: flex;
  /* align-items: center; */
  gap: 1rem;

  /* border:1px solid black; */
}

.sidebar-section .sidebar-number {
  padding: 0.8rem 1.2rem;
  border-radius: 4rem;
  border: 1px solid var(--Light-blue);
  color: var(--White);
}

.sidebar-number-active {
  background-color: var(--Light-blue);
  color: var(--Marine-blue) !important;
  cursor: pointer;
}

.sidebar-section .sidebar-info {
  color: var(--Pastel-blue);
  font-weight: 400;
  font-size: 0.8rem;
}

.sidebar-info h2 {
  font-size: 1rem;
  color: var(--White);
  text-transform: uppercase;
}

main {
  border-radius: 0 10px 10px 0;
}

main .sidebar-section-info {
  /* flex:1 0 60%; */
  flex-grow: 1;
  /* border:1px solid orange; */
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description h1 {
  font-size: 2rem;
  color: var(--Marine-blue);
}

.description p {
  color: var(--Cool-gray);
}

.middle-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 60%;
}

.hide-container {
  display: none !important;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container .input-section {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0.5rem 0;
  position: relative;
}

.input-section .Error-message {
  color: var(--Strawberry-red);
  position: absolute;
  top: 0;
  right: 0;
}

.input-error {
  border: 1px solid var(--Strawberry-red) !important;
}

.input-container input {
  line-height: 2.7;
  padding-left: 1rem;
  font-size: 1rem;
  border: 1px solid var(--Cool-gray);
  border-radius: .7rem;
}

.input-container input:focus {
  outline: none;
  /* border: 1 px solid var(--Purplish-blue); */
}

.buttons {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.buttons button:first-child {
  border: none;
  background-color: transparent;
  color: var(--Cool-gray);
}

.buttons button:first-child:hover {
  color: var(--Marine-blue);
  cursor: pointer;
}

.buttons button:last-child {
  border: none;
  padding: 0.8rem 1.3rem;
  border-radius: 10px;
  background-color: var(--Marine-blue);
  color: var(--White);
  cursor: pointer;
}

.hide-button {
  visibility: hidden !important;
}

.flex-class {
  display: flex;
}

/*------------------ plans container ----------------- */
.plans-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}

.plans {
  display: flex;
  min-height: 50%;
  justify-content: space-between;
}

.plan-section {
  flex-basis: 30%;
  border: 1px solid var(--Light-gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.plan-info {
  line-height: 1.6;
}

.plan-info h3 {
  color: var(--Marine-blue);
}

.plan-info p:nth-child(2) {
  color: var(--Cool-gray);
}

.plan-info .additional-free {
  color: var(--Marine-blue);
  visibility: hidden;
}

.plan-selection {
  border: 1px solid var(--Purplish-blue);
  background-color: var(--Magnolia);
}

.monthly-yearly-section {
  display: flex;
  background-color: var(--Magnolia);
  height: 15%;
  justify-content: center;
  gap: 1.4rem;
  align-items: center;
  color: var(--Cool-gray);
}

.toggle {
  background-color: var(--Marine-blue);
  border-radius: 1rem;
  width: 56px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
}

.toggle .switch {
  border-radius: 3rem;
  background-color: var(--White);
  width: 41%;
  height: 78%;
  position: absolute;
  /* left: 6%; */
}

.yearly-switch {
  right: 6%;
}

/* ---------addons container ----------- */
.add-ons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-ons-container .service-section {
  display: flex;
  padding: 1rem;
  border: 1px solid var(--Light-gray);
  border-radius: 10px;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.service-section:hover {
  border: 1px solid var(--Purplish-blue);
  cursor: pointer;
}

.service-selection {
  border: 1px solid var(--Purplish-blue) !important;
  background-color: var(--Magnolia);
}

.service-input-info-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: fit-content;
}

.service-info,
.service-price {
  font-size: 0.9rem;
  line-height: 1.5;
}

.service-info h3 {
  color: var(--Marine-blue);
}

.service-info p {
  color: var(--Cool-gray);
}

.service-price {
  color: var(--Purplish-blue);
}

/* finishing up container ------ */

.finishing-up-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.finishing-up-container p {
  color: var(--Cool-gray);
}

.total-summary-info-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--Alabaster);
  padding: 1rem;
}

.total-summary-info-section span {
  color: var(--Marine-blue);
}

.monthly-yearly-summary-section {
  border-bottom: 1px solid var(--Light-gray);
  padding: 1rem 0;
  color: var(--Marine-blue);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.monthly-yearly-summary-section p {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

.summary-section {
  display: flex;
  justify-content: space-between;
}

.total-price-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.total-price-section span {
  color: var(--Purplish-blue);
  font-weight: 600;
}

/* ----thankyou container ---------- */

.thankyou-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-end;
  line-height: 1.5;
  padding: 1rem 0;
}

.thankyou-container h1 {
  font-size: 2rem;
  color: var(--Marine-blue);
}

.thankyou-container p {
  color: var(--Cool-gray);
}

@media screen and (max-width: 700px) {
  .container {
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  main {
    flex-direction: column;
    position: relative;
    min-height: 100vh;
  }

  aside {
    background-image: url(assets/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: auto;
    height: 30vh;
    justify-content: center;
    flex-direction: row;
    border-radius: 0;
  }

  aside .sidebar-section {
    flex-direction: column;
  }

  .sidebar-section .sidebar-number {
    padding: 0.8rem 1rem;
  }

  .sidebar-section .sidebar-info {
    display: none;
  }

  main .sidebar-section-info {
    padding: 0;
    position: absolute;
    top: 17vh;
    z-index: 5;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    gap: 0;
    align-items: center;
  }

  .description {
    width: 90%;
    padding: 1rem;
    background-color: var(--White);
  }

  .middle-section {
    width: 90%;
    background-color: var(--White);
    padding: 1rem;
  }

  .buttons {
    background-color: var(--White);
    margin-top: 10%;
    padding: 1rem;
  }

  .plans {
    flex-direction: column;
    gap: 1rem;
  }

  .plan-section {
    flex-direction: row;
  }

  .monthly-yearly-section {
    line-height: 3;
  }
}